@import url(normalize.css);
body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

/* Header */
.header {
  width:100%;
  height: 90px;
  background: #202846;
  overflow: auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__logo {
  height: 75px;
  float: left;
  padding: 10px 0;
  position: relative;
  top: 0;
  left: 138px;
}

.header__logo+nav {
  float: right;
}

.header__nav {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.header__nav-menu {
  position: relative;
  top: 0;
  right: 63px;
}

.header__nav_item {
  list-style: none;
  float: left;
}

.header__nav_item:not(:last-child) {
  padding: 17px 27px;
  border-right: 2px solid #fff;
}

.header__nav_item:last-child {
  position: relative;
  top: -8px;
  right: -20px;
}

/* Header end */

/* main */
.main {
  background-color: #F5F5F5;
}

.house__wrapper {
  position: relative;
  width: 100%;
}
.house__title {
  height: 140px;
  background-color: #C6C6DC;
}

.house__title-header {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  padding: 52px 0 42px 227px;
}

.house__body {
  margin: 0 215px;
}

.select-place {
  height: 73px;
  background: #E8E8E8;
  margin: 56px 0;
}

.dropdown {
  position: relative;
  top: -130%;
  left: 47%;
}

.dropdown::after {
  content: "";
  margin: 0 0.6em;
  display: inline-block;
  border: 14px solid transparent;
  border-top: 28px solid black;
  border-bottom: 0 none;
}

.select-place p {
  font-weight: 400;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.61);
  text-align: center;
  padding: 18px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: #BDBDC6;
  margin-bottom: 36px;
}

.card:hover {
  background-color: #AEAEE2;
  box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card__body {
  display: flex;
  flex-wrap: wrap;
  margin: 27px 0 30px 102px;
}

.card__title {
  width: 100%;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  color: #353C57;
  border-bottom: 3px solid #fff;
}

.card__description {
  font-weight: 400;
  font-size: 22px;
  align-items: center;
  text-align: center;
  color: #202846;
  background: #D7D7DD;
  padding: 21px 29px 28px 34px;
  margin-top: 10px;
}

.card__img {
  height: 244px;
  padding: 28px 0 28px 103px;
}

.card__info {
  width: 6%;
}

.star {
  width: 50px;
  height: 50px;
  margin: 27px 17px 163px 20px;
  background: url(../img/star.svg) no-repeat center;
}

.star:hover {
  background: url(../img/star_checked.svg) no-repeat center;
}

.card__btn {
  position: relative;
  right: 48px;
  bottom: -8px;
  color: #fff;
  font-weight: 400;
  background: #202846;
  padding: 14px 28px;
  border-radius: 50px;
  cursor: pointer;
  text-transform: none;
}

.card__btn:hover {
  background-color: #EF075B;
}
/* End main */


